
.main-content {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("../images/backg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
.section-text {
  font-size: 18px;
  line-height: 1.6;
}
