/*styling divmaincontainer */
div#divmaincontainer{
  width:100%;
  margin:auto;
  background-image:"C:\Users\Peo Mogogiemang\OneDrive - Botswana Accountancy College\Documents\fd.jpg"
  
 /* border:1px solid turquoise;*/
 }
/**/
/*styling the header of the site*/
header#siteheader{
  
}

/*styling site title*/
h1#sitetitle{
  
  }

/*site motto*/
span#sitemotto{

}
  
  

